<html>
<head>
</head>
<body>
<div id="header">
	<h3>Add / Edit Student Grade</h3>
</div>
<div id="content">
	<table>
		<TR>
			<TD>Student Name -- </TD>
			<td>Assignment N</td>
		</TR>
	</table>
	<table>
		<tr><TD>Score: <input type="text" value="20" size="5"> / 100 points</TD></tr>
		<tr><TD>-- OR --</TD></tr>
		<tr><TD>Grade: <input type="text" value="F" size="3"></TD></tr>
	</table>
	<table><TR><TD><a href="#">Save</a></TD><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td><td><a href="#">Cancel</a></td></TR></table>
</div>
</body>
</html>
