<html>
<head>
</head>
<body style="text-align: center;">
<div id="header">
	<h3>Add / Edit Assignment</h3>
</div>
<div id="content">
	<table style="text-align: right;">
	<tr>
		<td><label for="name"><strong>Name:</strong></label></td><td><input type="text" name="name" value="Assignment 1"></td>
	</tr>
	<tr>
		<td><label for="Description"><strong>Description:</strong> </td><td><input type="textarea" name="other_class_info" value="Description of class"></label></td>
	</tr>
	<tr>
		<td><label for="weight"><strong>Weight (%): </strong></td><td><input type="text" name="other_class_info" value="0.2"></label></td>
	</tr>
	<tr>
		<td><label for="Points"><strong>Points Possible:</strong></td><td><input type="text" name="other_class_info" value="100"></label></td>
	</tr>
	<tr style="text-align: center;">
		<td colspan="2"><a href="#">Save</a></td>
	</tr>
	</table>
	<p>Editors note: If this is a new assignment, all of the fields will be blank. If editing an existing assignment, the values will be filled in from the database.</p>
</div>
</body>
</html>
