<html>
<head>
</head>
<body style="text-align: center;">
<div id="header">
	<h3>Edit class</h3>
</div>
<div id="content">
	<table style="text-align: right;">
	<tr>
		<td><label for="name">Name:</label></td><td><input type="text" name="name" value="Name from database"></td>
	</tr>
	<tr>
		<td><label for="other_class_info">Other class info: </td><td><input type="text" name="other_class_info" value="other class info from database"></label></td>
	</tr>
	<tr style="text-align: center;">
		<td colspan="2"><a href="gradescale.html" target="_blank">GradeScale</a></td>
	</tr>
	<tr style="text-align: center;">
		<td colspan="2"><a href="#">Save</a></td>
	</tr>
	</table>
</div>
</body>
</html>
