<html>
<head>
</head>
<body>
<div id="header" style="text-align: center;">
	<h1>Welcome to OC-Technology's Gradebook</h1>
	<p>To help get you set up, we've created a wizard to walk you through setting up your first class. </p>
</div>
<div id="content" style="text-align: center;">
	<p>Step 3 of 3</p>
	<p>What time scale is used for grade reporting?</p>
	<p><em>Editors note: This depends on the previous answer</em></p>
<table style="text-align: center;" >
<tr>
		<td colspan="3"><em>Editors note: If the previous selection was Elementary School, the following choices will be presented<br></em></td>
</tr>
<tr>
<TD valign="top">
	<table>
	<tr>
		<td>
			<input type="radio" name="school" value="Traditional">
		</td>
	</tr>
	<tr>
		<td><strong>Traditional</strong></td>
	</tr>
	<tr>
		<td><em>Editors note: If this is chosen, the following menu will appear</em></td>
	</tr>
	<tr>
		<td>
			<table>
			<tr>
				<td><input type="radio" name="time">Quarters</td>
			</tr>
			<tr>
				<td><input type="radio" name="time">Trimesters</td>
			</tr>
			<tr>
				<td><input type="radio" name="time">Semesters</td>
			</tr>
			<tr>
				<td><input type="radio" name="time">Other</td>
			</tr>
			</table>
		</td>
	</tr>
	</table>
</TD><td valign="top">
	<table>
	<tr><TD>
	<input type="radio" name="school" value="year-round">
	</td>
	</tr>
	<tr><TD><strong>Year around</strong></TD>
	</tr>
	<tr><TD><em>Editors note: if this is chosen, the following menu will appear</em></TD></tr>
	<tr><TD><table>
		<TR>
			<TD><SELECT name="Tracks" multiple size="5">
         			<option>Track A</option>
				<option>Track B</option>
       			</SELECT>
			</TD>
		</TR>
		<tr>
			<TD>
			<input type="text"><input type="button" value="Add a track">
				</TD>
		</tr>
	</TD>
	</tr>
	</table>
</td>
</tr>
</table>
</td>
<td valign="top">
	<table><TR><TD>
	<input type="radio" name="school" value="Other">
		</TD></TR>
	<tr><TD><strong>Other*</strong></TD></tr>
</table>
</td>
</tr>
</table>
	<table>
	<TR>
		<TD colspan><em>Editors Note: If the previous selection was Middle or High School, the following choices will be presented:</em></TD>
	</TR>
	<tr>
		<TD>
			<table>
			<TR>
				<TD><input type="radio" name="school2" />
				</TD>
			</TR>
			<tr><td><strong>Periods</strong></td>
			</tr>
			<tr>
				<TD><select multiple size="5">
				<option>Period 1</option>
				</select>
				</TD>
			</tr>
			<tr>
				<TD><input type="text"><input type="button" value="Add a period">
				</TD>
			</tr>
			</table>
		</TD>
		<td valign="top">
			<table>
			<TR>
				<TD><input type="radio" name="School2">&nbsp;</TD>
			</TR>
			<tr>
				<TD><strong>Other</strong>
				</TD>
			</tr>
			</table>
		</td>
	</tr>
	</table>

	<p>*Note: Selecting Other will require you to set up classes manually, adding the desired features after adding the class.</p>

</div>
</body>
</html>
