<html>
<head>
</head>
<body>
<div id="header" style="height: 100px; text-align: center;">
	<h1>OC-Technology Gradebook</h1>
</div>
<div id="content" style="height: 400px; width: 100%; text-align: center; margin: auto;">
	<div style="float: left; text-align: center;">
	<table border="0" style="text-align: center;">
	<tr>
		<td><h2>Signup</h2></td>
	</tr>
	<tr>
		<td>First Name: <input type="text"></td>
	</tr>
	<tr>
		<td>Last Name: <input type="text"></td>
	</tr>
	<tr>
		<td>Email: <input type="text"></td>
	</tr>
	<tr>
		<td><input type="submit"></td>
	</tr>
	</table>
	</div>
	<div style="float: left;">
	<h3>-- OR --</h3>
	</div>
	<div style=" float: left;">
	<table border="0" style="text-align: center;">
	<tr>
		<td><h2>Login</h2></td>
	</tr>
	<tr>
		<td>Username: <input type="text"></td>
	</tr>
	<tr>
		<td>Password: <input type="text"></td>
	</tr>
	<tr>
		<td><input type="submit"></td>
	</tr>
	</table>
	</div>
</div>
</body>
</html>
