<html>
<head>
</head>
<body>
<h1>OC-Technology Gradebook Functional Walkthrough</h1>
<p>Links</p>
<ol>
<li><a href="home.html">Signup and Login</a></li>
<li>First-time use by teacher -- this allows them to get some sensible defaults when starting.<ul>
	<LI><a href="firstuse1.html">Page 1</a></LI>
	<li><a href="firstuse2.html">Page 2</a></li>
	<li><a href="firstuse3.html">Page 3</a></li>
	</ul>
</li>
<li><a href="dashboard.html">Dashboard</a> -- In general, this will be where teachers start.</li>
<li><a href="addclasses.html">Adding Classes</a></li>
<li><a href="addpeople.html">Adding Users</a><ul>
		<LI><a href="addstudents.html">Add Students</a></LI>
		<li><a href="addparents.html">Add Parents</a></li>
	</ul>
</li>
<li><a href="editclasses.html">Editing Classes</a></li>
<li>Editing Users <ul>
	<LI><a href="addstudents.html">Edit Student</a></LI>
	<li><a href="addparents.html">Edit Parent</a></li>
</ul>
</li>
<li><a href="gradebook.html">Gradebook</a></li>
<li><a href="addeditassignment.html">Adding an assignment</a></li>
<li><a href="addeditassignment.html">Editing an assignment</a></li>
<li><a href="addeditgrade.html">Editing a Student's Grade on an Assignment</a></li>
</ol>
</body>
</html>
